{% extends 'core/base.html' %} {% block title %}
<title>Camilo León | Acerca de</title>
{% endblock %} {% block header %}

<!-- Cabecera -->
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>

{% endblock %} {% block background %}{% load static %}{% static '/core/img/about-bg.jpg' %}{% endblock %} {% block content %}{% load static %}
<!-- Contenido Principal -->
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 offset-lg-1">
      <img
        class="img-fluid avatar"
        src="{% static '/core/img/avatar.jpg' %}"
        alt=""
      />
    </div>
    <div class="col-lg-7 col-md-8">
      <h2 class="section-heading">Camilo León</h2>
      <p
        >Nací en Bogotá, Colombia y actualmente tengo 25 años, desde pequeño
        siempre me ha gustado el mundo de la tecnologia y es por esto que hoy en
        día soy ingeniero de telecomunicaciones con un gran interes en la
        especialidad del desarrollo de software.
      </p>
      <p
        >Aunque todavía tengo mucho por aprender y alcanzar, espero seguir
        trabajando duro para lograr mis metas y hacer un diferencia en el mundo
        que me rodea .</p
      >
    </div>
  </div>
</div>

{% endblock %}
